<!DOCTYPE html>
<html>
<head>
    <title>ex6</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
<div class="d-flex align-items-center justify-content-center">
    <img src="<%= imglogo %>" class="mx-auto d-block">
</div>
<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="text-center">
            <h2>Please Register</h2>
        </div>

        <% if(mailExists) { %>
          <p class ="text-center text-danger">Email already registered, try again </p>
        <% } %>

        <form action = "/register/password" method="post">
            <div class="form-floating ">
                <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-envelope-at"></i>
                </span>
                    <input type="email" class="form-control" id="mail" name ="email" value="<%=email%>" placeholder="Email address" required>
                </div>
            </div>
            <div class="form-floating ">
                <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-person"></i>
                </span>
                    <input type="text" class="form-control" id="firstname" placeholder="First Name"
                           pattern="[a-z]{3,32}" required>
                </div>
            </div>
            <div class="form-floating">
                <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-person-fill"></i>
                </span>
                    <input type="text" class="form-control" id="lastname" placeholder="Last Name"
                           pattern="[a-z]{3,32}" required>
                </div>
            </div>
            <br>
            <div class="row mx-auto">
                <button class="btn btn-primary w-100" type="submit">Next</button>
            </div>
        </form>
        <br>
        <div class="text-center">
            <p>already registered? go to <a href="/">login</a> page</p>
        </div>
    </div>
</div>
</body>
</html>